.Toastify__toast {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(4, 4, 4, 0.7);

  }
.Toastify__toast :hover .Toastify__close-button--default{
    display : flex
}
   
.Toastify__close-button--default {
    width : 30px;
    height : 30px;
    background: #F8F8F8;
    color : #242424; /* color text inside */
    border-radius : 50%;
    display : none;
    align-items : center;
    justify-content : center;
    position : absolute;
    top : 10px;
    right : 10px;
    transition-duration : 0.2s;
    cursor : pointer;
}

.dashboard{
    background-color: #ffff;
}

.react-calendar{
    width : 90% !important;
    padding : 10px;
    border-radius : 20px;
    border: none !important;
    transition-duration: 0.3s;

}
.custom-calendar:hover{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.top_side_bar{
    /* width : 95%;
    margin-top: -5px;
    overflow-y : hidden;
    transition-duration: 0.3s; */
    padding: 0 3px;
    width: 95%;
    overflow-y: hidden;
    transition-duration: 0.3s;
}

.top_side_bar:hover{
    overflow-y: scroll;
}

.text_rect_card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
}

/* .rbc-calendar{
    width: 100%;
    height: 500px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 20px;
}
.rbc-calendar:hover{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
} */

.main-tab{
    width: 100%;
    background: #f8f8f8;
    /* height: 630px; */
    /* overflow-x: hidden; */
    border-radius: 20px;
}

.rodal {
    background : rgb(4 4 4 / 13%) !important;
    backdrop-filter: blur(20px) !important ;

}
.rodal-dialog{
    width : 500px !important ;
    height : 70% !important;
    border-radius : 30px !important;
}

.btn_list_between {
    display : flex;
    justify-content: space-between;
}



.jumbotron-button {
	color: #fff !important;
	background-color: transparent !important;
	border-color: lightgrey !important;
}

.jumbotron-button:hover {
	color: #fff !important;
	background-color: #5a6268 !important;
	border-color: #545b62 !important;
}

.restrict-card {
	height: 175px;
	overflow-y: overlay;
}

.ExcelTable2007 {
	border: 1px solid #B0CBEF;
	border-width: 1px 0px 0px 1px;
	font-size: 11pt;
	font-family: Calibri;
	font-weight: 100;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 10px;
}

.ExcelTable2007 TH {
	background-image: url(./public/excel-2007-header-bg.gif);
	background-repeat: repeat-x; 
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	height: 17px;
	line-height: 17px;
}

.ExcelTable2007 TD {
	border: 0px;
	background-color: white;
	padding: 0px 4px 0px 2px;
	border: 1px solid #D0D7E5;
	border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
	border: 0px;
	background-color: white;
	font-weight: bold;
}

.ExcelTable2007 TD.heading {
	background-color: #E4ECF7;
	text-align: center;
	border: 1px solid #9EB6CE;
	border-width: 0px 1px 1px 0px;
	font-weight: bold;
}

.ExcelTable2007 TH.heading {
	background-image: url(./public/excel-2007-header-left.gif);
	background-repeat: none;
}

TH {
	text-align: center;
}